
<html>

<head>
  <title>Datafox </title>
</head>

<body>
<h1> Datafox </h1>

<table>
  <tr> <%= link_to 'Company Page', companies_index_path %> </tr>
  <tr> | </tr>
  <tr> <%= link_to 'Investor Page', investors_index_path %> </tr>

</table>

<div id="similar">
  <%= render 'similar' %>
</div>

<div id='filter'>
  <%= render 'filter' %>
</div>

</body>

</html>